
/* Book Details Card styles */

.card-container{
  
   border-radius: 10px;
   padding: 1em;
   margin: 0.5em;
   border-left: 5px solid rgb(206, 157, 12);
   box-shadow: 3px 3px rgb(231 224 224);

}

.cards-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 1em;
}

.input-row-first{
   display: flex;
   justify-content: space-between;
   margin : 10px 20px;
}

.input-box-value{
   border: none;
   border-bottom: 1px solid grey;
   width: 30em;
   height: 2em;
   margin: 0.5em 0 0 0.5em;
}

.input-box-value:focus{
   border: none !important;
   border-bottom: 1px solid rgb(190, 44, 44);
   background-color: antiquewhite;
  
}

.create-book-btn{
   padding: 1em 2em;
   background-color: rgb(36 73 214);
   color:white;
   border: none;
   border-radius: 10px;
   display: flex;
   text-align:center ;
}

.create-book-btn:hover{
   box-shadow: 10px 10px rgb(48, 48, 182);
   cursor: pointer;
}