.navbar-container{
    font-size: 0.8em;
    height: 100vh;
    width: 20%;
    border-right: 1px solid gray;
    top:0;
    position: sticky;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;

}

.menu-option-box{
    display: flex;
}
.menu-option-box:hover{
    color: rgb(206, 157, 12);
}

.option-name{
    align-self: center;
}

.menu-icons{
    height: 3em;
    width: 3em;
}

.down-arrow-icon:hover{
    color: rgb(206, 157, 12)
}

.down-arrow-icon{
    color: grey;
    margin-top: 1em;
    margin-left: 0.5em;
}
.collapsed-navbar{
    width: 5%;
    font-size: 0.8em;
    height: 100vh;
    border-right: 1px solid grey;
    top:0;
    position: sticky;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.collapse-icon{
    align-self: center;
    color: grey;
    margin-top: calc(100vh - 200px);
}

.collapse-icon:hover{
    color: rgb(206, 157, 12)
}

.collapse-icon:active{
    color: rgb(206, 157, 12)
}