.navbar-container{
    font-size: 0.8em;
    height: 100vh;
    width: 20%;
    border-right: 1px solid green;
    top:0;
    position: sticky;
    padding: 1rem;

}

.menu-option-box{
    display: flex;
}
.menu-option-box:hover{
    color: rgb(206, 157, 12);
}

.option-name{
    align-self: center;
}

.menu-icons{
    height: 3em;
    width: 3em;
}

.down-arrow-icon:hover{
    color: rgb(206, 157, 12)
}

.down-arrow-icon{
    color: grey;
    margin-top: 1em;
    margin-left: 0.5em;
}