* {
  box-sizing: border-box;
}

body{
  font-size: 20px;
  display: flex;
}

.main-container{
  display: flex;
  flex-grow: 1;
}

.information-screen{
  margin-left: 1em;
}

.atom-icon{
   height: 2em;
   width: 3em;
}