@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-size: 20px;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.main-container{
  display: flex;
  flex-grow: 1;
}

.information-screen{
  margin-left: 0.5em;
  width: calc(100vw - 10%);
}

.atom-icon{
   height: 2em;
   width: 3em;
}

.logo-container{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}